@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #4F46E5;
  --primary-foreground: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
}
